<nav class="mb-1 hoverable navbar fixed-top navbar-expand-lg navbar-light  white">
  <a class="navbar-brand amber-text" href="/listview">Get Things Done</a>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item mr-4">
        <a class="nav-link text-default" href="#">Dodaj zadanie<mdb-icon fas icon="plus-circle" class="ml-1"></mdb-icon>
        </a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link text-default" href="#">Usunięte<mdb-icon fas icon="trash-alt" class="ml-1"></mdb-icon>
        </a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link text-default" href="/login">Zaloguj<mdb-icon fas icon="fas fa-user" class="ml-1"></mdb-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>