<nav class="mb-1 navbar sticky-top navbar-expand-lg navbar-dark  transparent">
  <a class="navbar-brand" href="#">Get Things Done</a>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Dodaj zadanie<mdb-icon fas icon="plus-circle" class="ml-1"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Usunięte<mdb-icon fas icon="trash-alt" class="ml-1"></mdb-icon>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
