<div class="container p-5">
  <div class="row"></div>
  <div class="col-12 text-right">
    <div class="accordion" id="newNote">
      <div class="card">
        <h4 class="mb-0">
          <button mdbBtn type="button" block="true" gradient="aqua" rounded="true" mdbWavesEffect data-toggle="collapse"
            data-target="#noteAdd" aria-expanded="true" aria-controls="collapseOne">
            Dodaj zadanie<mdb-icon fas icon="plus-circle" class="ml-1"></mdb-icon>
          </button>
        </h4>
        <div id="noteAdd" class="collapse" aria-labelledby="headingOne" data-parent="#newNote">
          <div class="card-body">
            <div class="container p-2">
              <div class="row">
                <div class="col-6">
                  <div class="md-form">
                    <input #todoitem type="text" id="todoitem" class="form-control" mdbInput>
                    <label for="todoitem">Dodaj zadanie</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="md-form">
                    <select #todolist class="form-control">
                      <option selected value="todo">Do zrobienia</option>
                      <option value="progress">W trakcie</option>
                      <option value="done">Wykonane</option>
                      <option value="cancelled">Anulowane</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="md-form">
                    <textarea #noteText class="md-textarea form-control" rows="5" id="noteText" type="text" length="160"
                      mdbCharCounter mdbInput></textarea>
                    <label for="noteText">Dodaj notatkę:</label>
                  </div>
                </div>
                <div class="col-12 text-right">
                  <button (click)="addItem(todolist.value, todoitem.value, noteText.value)" button mdbBtn type="button"
                    color="default" mdbWavesEffect>
                    Dodaj<mdb-icon fas icon="plus-circle" class="ml-1"></mdb-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-4">
    <div class="row">


      <div class="col-sm-3" borderColor="border-info">
        <div class="card bg-info">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">Zrób</mdb-card-text>
          </div>
          <cdk-drop class="listme list-group list-group-flush" #todoList [data]="todo"
            [connectedTo]="[doneList, cancelledList, progressList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-info" *ngIf="todo.length < 1" cdkDragHandle>
              <p class="grey-text text-center">pusto</p>
            </div>
            <div class="list-group-item list-group-item-info" *ngFor="let item of todo; let i = index ">
              <dt class="sm-3" cdkDrag> {{ item.title | titlecase }} <i class="far fa-circle mx-2"></i></dt>
              <p (click)="changeModal(item)" data-toggle="modal" data-target="#openModal">
                <small type="button" class="card-link">pokaż info</small>
              </p>
              <p><small> {{ item.dateAdded | date:'dd/MM/yyyy HH:mm' }}</small></p>
            </div>
          </cdk-drop>
        </div>
      </div>

      <div class="col-sm-3" borderColor="border-warning">
        <div class="card bg-warning">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">W trakcie</mdb-card-text>
          </div>
          <cdk-drop class="listme list-group list-group-flush" #progressList [data]="progress"
            [connectedTo]="[todoList, cancelledList, doneList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-warning" *ngIf="progress.length < 1" cdkDrag>
              <p class="grey-text text-center">pusto</p>
            </div>
            <div class="list-group-item list-group-item-warning" *ngFor="let item of progress; let i = index ">
              <dt class="sm-3" cdkDrag> {{ item.title | titlecase }} <i class="far fa-clock mx-2"></i></dt>
              <p (click)="changeModal(item)" data-toggle="modal" data-target="#openModal">
                <small type="button" class="card-link">pokaż info</small>
              </p>
              <p><small> {{ item.dateAdded | date:'dd/MM/yyyy HH:mm' }}</small></p>
            </div>
          </cdk-drop>
        </div>
      </div>

      <div class="col-sm-3" borderColor="border-success">
        <div class="card bg-success">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">Wykonane</mdb-card-text>
          </div>
          <cdk-drop class="listme list-group list-group-flush" #doneList [data]="done"
            [connectedTo]="[todoList, cancelledList, progressList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-success" *ngIf="done.length < 1" cdkDrag>
              <p class="grey-text text-center">pusto</p>
            </div>
            <div class="list-group-item list-group-item-success" *ngFor="let item of done; let i = index ">
              <dt class="sm-3" cdkDrag> {{ item.title | titlecase }} <i class="far fa-check-circle mx-2"></i></dt>
              <p (click)="changeModal(item)" data-toggle="modal" data-target="#openModal">
                <small type="button" class="card-link">pokaż info</small>
              </p>
              <p><small> {{ item.dateAdded | date:'dd/MM/yyyy HH:mm' }}</small></p>
            </div>
          </cdk-drop>
        </div>
      </div>

      <div class="col-sm-3" borderColor="border-light">
        <div class="card bg-light">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-muted">Anulowane</mdb-card-text>
          </div>
          <cdk-drop class="listme list-group list-group-flush" #cancelledList [data]="cancelled"
            [connectedTo]="[todoList, progressList, doneList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-light" *ngIf="cancelled.length < 1" cdkDrag>
              <p class="grey-text text-center">pusto</p>
            </div>
            <div class="list-group-item list-group-item-light" *ngFor="let item of cancelled; let i = index ">
              <dt class="sm-3" cdkDrag> {{ item.title | titlecase }} <i class="fas fa-minus-circle mx-2"></i></dt>
              <p (click)="changeModal(item)" data-toggle="modal" data-target="#openModal">
                <small type="button" class="card-link">pokaż info</small>
              </p>
              <p><small> {{ item.dateAdded | date:'dd/MM/yyyy HH:mm' }}</small></p>
            </div>
          </cdk-drop>
        </div>
      </div>
    </div>

    <div class="container p-2"></div>
    <div class="row">
      <div class="col">

        <div class="card bg red darken-3">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">Usunięte</mdb-card-text>
          </div>
          <cdk-drop class="listme list-group list-group-flush" #deleteList [data]="delete"
            [connectedTo]="[todoList, doneList, cancelledList, progressList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-danger" *ngIf="delete.length < 1" cdkDrag>
              <p class="grey-text text-center">pusto</p>
            </div>
            <div class="list-group-item list-group-item-danger" *ngFor="let item of delete; let i = index ">
              <dt class="sm-3" cdkDrag> {{ item.title | titlecase }} <i class="fas fa-times-circle mx-2"></i></dt>
              <p (click)="changeModal(item)" data-toggle="modal" data-target="#openModal">
                <small type="button" class="card-link">pokaż info</small>
              </p>
              <p><small> {{ item.dateAdded | date:'dd/MM/yyyy HH:mm' }}</small></p>
            </div>
          </cdk-drop>
          <button (click)="clearList()" class="btn btn-red darken-3 btn-sm btn-block btn-red darken-3">
            Wyczyść<mdb-icon fas icon="trash-alt" class="ml-1"></mdb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="blockquote bq-primary" id="exampleModalScrollableTitle">{{currentItem.title | titlecase}}</h6>
        </div>
        <div class="modal-body">
          <small class="text-muted">Data utworzenia: {{currentItem.dateAdded | date:'dd/MM/yyyy HH:mm'}}</small>
        </div>
        <div class="modal-body">
          <span class="h6 text-muted">Notatki:</span>
          <article>{{currentItem.note}}</article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal"><i
              class="fas fa-check-circle mx-2"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal ends -->
</div>