<div class="container p-5">
  <div class="row"></div>
  <div class="col-12 text-right">
    <div class="accordion" id="newNote">
      <div class="card">
        <h4 class="mb-0">
          <button mdbBtn type="button" block="true" gradient="aqua" rounded="true" mdbWavesEffect data-toggle="collapse"
            data-target="#noteAdd" aria-expanded="true" aria-controls="collapseOne">
            Dodaj zadanie<mdb-icon fas icon="plus-circle" class="ml-1"></mdb-icon>
          </button>
        </h4>
        <div id="noteAdd" class="collapse" aria-labelledby="headingOne" data-parent="#newNote">
          <div class="card-body">
            <div class="container p-2">
              <div class="row">
                <div class="col-6">
                  <div class="md-form">
                    <input #todoitem type="text" id="todoitem" class="form-control" mdbInput>
                    <label for="todoitem">Dodaj zadanie</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="md-form">
                    <select #todolist class="form-control">
                      <option selected value='todo'>Do zrobienia</option>
                      <option value="progress">W trakcie</option>
                      <option value="done">Wykonane</option>
                      <option value="cancelled">Anulowane</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="md-form">
                    <textarea #noteText class="md-textarea form-control" rows="5" id="noteText" type="text" length="160"
                      mdbCharCounter mdbInput></textarea>
                    <label for="noteText">Dodaj notatkę:</label>
                  </div>
                </div>
                <div class="col-12 text-right">
                  <button (click)="addItem(todolist.value, todoitem.value, noteText.value)" button mdbBtn type="button" color="default"
                    mdbWavesEffect>
                    Dodaj<mdb-icon fas icon="plus-circle" class="ml-1"></mdb-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-4">
    <div class="row">

      <div class="col-sm-3" borderColor="border-info">
        <div class="card bg-info">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">Zrób</mdb-card-text>
          </div>
          <cdk-drop class="list-group list-group-flush" #todoList [data]="todo"
            [connectedTo]="[doneList, cancelledList, progressList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-info" *ngFor="let item of todo" cdkDrag>
              <mdb-card-text class="text-black"> {{ item.title | titlecase }} </mdb-card-text>
              <mdb-card-text class="grey-text"> {{ item.dateAdded | date:'short' }}</mdb-card-text>
            </div>
          </cdk-drop>
        </div>
      </div>

      <div class="col-sm-3" borderColor="border-warning">
        <div class="card bg-warning">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">W trakcie</mdb-card-text>
          </div>
          <cdk-drop class="list-group list-group-flush" #progressList [data]="progress"
            [connectedTo]="[todoList, cancelledList, doneList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-warning" *ngFor="let item of progress" cdkDrag>
              <mdb-card-text class="text-black"> {{ item.title | titlecase }} </mdb-card-text>
              <mdb-card-text class="text-black"> {{ item.note }} </mdb-card-text>
              <mdb-card-text class="grey-text"> {{ item.dateAdded | date:'short' }}</mdb-card-text>
            </div>
          </cdk-drop>
        </div>
      </div>

      <div class="col-sm-3" borderColor="border-success">
        <div class="card bg-success">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">Wykonane</mdb-card-text>
          </div>
          <cdk-drop class="list-group list-group-flush" #doneList [data]="done"
            [connectedTo]="[todoList, cancelledList, progressList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-success" *ngFor="let item of done" cdkDrag>
              <mdb-card-text class="text-black"> {{ item.title | titlecase }} </mdb-card-text>
              <mdb-card-text class="grey-text"> {{ item.dateAdded | date:'short' }}</mdb-card-text>
            </div>
          </cdk-drop>
        </div>
      </div>

      <div class="col-sm-3" borderColor="border-light">
        <div class="card bg-light">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-muted">Anulowane</mdb-card-text>
          </div>
          <cdk-drop class="list-group list-group-flush" #cancelledList [data]="cancelled"
            [connectedTo]="[todoList, progressList, doneList, deleteList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-light" *ngFor="let item of cancelled" cdkDrag>
              <mdb-card-text class="text-muted"> {{ item.title | titlecase }} </mdb-card-text>
              <mdb-card-text class="grey-text"> {{ item.dateAdded | date:'short' }}</mdb-card-text>
            </div>
          </cdk-drop>
        </div>
      </div>
    </div>

    <div class="container p-2"></div>
    <div class="row">
      <div class="col">

        <div class="card bg red darken-3">
          <div class="card-header text-center">
            <mdb-card-text class="font-weight-bolder text-white">Usunięte</mdb-card-text>
          </div>
          <cdk-drop class="list-group list-group-flush" #deleteList [data]="delete"
            [connectedTo]="[todoList, doneList, cancelledList, progressList]" (dropped)="drop($event)">
            <div class="list-group-item list-group-item-danger" *ngFor="let item of delete" cdkDrag>
              <mdb-card-text class="text-black"> {{ item.title | titlecase }} </mdb-card-text>
              <mdb-card-text class="grey-text"> {{ item.dateAdded | date:'short' }}</mdb-card-text>
            </div>
            <button (click)="clearList()" class="btn btn-red darken-3 btn-sm btn-block btn-red darken-3">
              Wyczyść<mdb-icon fas icon="trash-alt" class="ml-1"></mdb-icon>
            </button>
          </cdk-drop>
        </div>
      </div>
    </div>
  </div>
</div>