.cdk-drop-dragging .cdk-drag {
    transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-animating {
    transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-placeholder {
    background: rgba(237, 240, 243, 0.616);
  }

  .listme {
    min-height: 60px;
    
  }
  .note-margin {
    margin: 10px;
  }
