/* You can add global styles to this file, and also import other style files */


/* html, body { 
height: 100%;
margin: 0ch; } */

body{
background-color: #fff;
padding: 0px;
margin: 0px;
}

#gradient
{
width: 100%;
height: 920px;
padding: 0px;
margin: 0px;
opacity: 0.3;
z-index: -1;

}
